.sapMTextLineClamp {
    
    color: #065c80;
    
}

.sapMObjLIntro {
   
    color: #1f13e2;
    
}

.sapMObjectNumberText {
    color: red;
   
}

.sapFDynamicPageTitleMainHeading {
    
    color: blue;
    
}

